* {
   box-sizing: border-box;
}

 html{
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
   width: 83%;
   padding: 1.5px;
   font-family: 'Adamina', serif;
}

h1 {
  font-size: 28px;
  background-color: transparent;
  text-decoration: none;
  text-align: right;
  line-height: 70px;
}

h2 {
  color: #742b29;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  line-height: 10px;
  background-color: transparent;
  text-decoration: none;
  text-align: left;
  line-height: 40px;
}

h3 {
  color: #742b29;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  line-height: 10px;
  background-color: transparent;
  text-decoration: none;
  text-align: right;
  line-height: 40px;
}

p {
  font-size: 16px;
  line-height: 38px;
  text-align: left;
  background-color: #e1e1e1;
  padding: 1em;
  width: 390px;
}

::-moz-selection {
  color: #742b29;
  background: #e1e1e1;
}

::selection {
  color: #742b29;
  background: #e1e1e1;
}

.logo {
   padding: 8px;
   margin-left: 16px;
   margin-top: 18px;
   color: #000;
   font-weight: 700;
   font-size: 30px;
   letter-spacing:  0px;
   text-decoration: none;
}

/* BODY/CONTENT*/

.content{
   margin: 2em auto;
   padding:110px;
   width: 100%;
   background: #ffffff;
}

.body {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 0px;
  width: 400px;
  height: 350px;
  margin-top: 10px;
  line-height: 70px;
  font-size: 2em;
  text-align: center;
}

a:link{
text-decoration: none;
color: #000000;
}
a:visited{
color: #000000;
}
a:hover{
color: #742b29;
}

#top, #bottom, #left, #right {
	background: #e1e1e1;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }



    @media screen and (max-width: 979px){

      body {
         width: 100%;
         padding: 1.5px;
         font-family: 'Adamina', serif;
      }



      .flex-item {

        width: 400px;
        height: 0px;
        margin-top: 0px;
        line-height: 0px;
        font-size: 2em;
        text-align: center;
      }

    h3 {
          display: none;
    }

    h1 {
          display: none;
    }
  }

  @media screen and (max-width: 1264px){

    body {
       width: 100%;
       padding: 0px;
       font-family: 'Adamina', serif;

    }

    .flex-item {

      width: 380px;
      height: 0px;
      margin-top: 0px;
      line-height: 0px;
      font-size: 2em;
      text-align: center;

    }
}

/* header */

.header {
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ffffff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #6c2f2b;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #e1e1e1;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 48px 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 64px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 11px;
}

.header .menu-icon .navicon:after {
  top: -11px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


@media (min-width: 979px) {
  .header li {
    display: none;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (min-width: 979px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}




.carousel {
  display: flex;
  justify-content: center;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: 26px;
    margin: 20px;
    margin-bottom: 0;
  }

  &__search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48vw;
    padding: 10px;
    flex-wrap: wrap;
  }

  &__search-input {
    width: 250px;
    padding: 2px;
    margin: 3% 4%;

    @include respond(phone) {
      width: 70%;
    }
  }

  &__search-select {
    margin: 0 8px 0 4px;
  }

  &__search-submit {
    padding: 2px 10px;
    margin: 0 20px;
  }

  &__viewport {
    position: relative;
    width: 48vw;
    height: 36vw;
    // width: 24vw;
    // height: 18vw;
    max-width: 640px;
    max-height: 480px;
    overflow: hidden;
    border-radius: 10px;
    background-color: black;

    @include respond(phone) {
      width: 100vw;
      height: 75vw;
      max-width: 100%;
      max-height: 100%;
      border-radius: 0;
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    //background: linear-gradient(to bottom, rgba(35, 109, 189, 0.6), rgba(0, 50, 104, 0.6));
    background-color: transparent;
    padding: 1.5%;
    border: none;
    z-index: 100;
    cursor: pointer;
    outline: none;
    width: 6%;
    opacity: 0.7;
    transition: opacity 0.3s;

    @include respond(phone) {
      display: none;
    }

    & svg {
      width: 100%;
      transition: transform 0.3s;
    }

    &--left {
      left: 0;
      border-radius: 0 10px 10px 0;
    }

    &--right {
      right: 0;
      border-radius: 10px 0 0 10px;
    }

    &:focus .carousel__focus-ring {
      border: 2px solid orangered;
      box-shadow: 0 0 6px orangered;
    }

    &:hover svg {
      transform: scale(1.03);
    }

    &:hover {
      opacity: 1;
    }
  }

  &__fas-left,
  &__fas-right {
    backface-visibility: hidden;
  }

  & .fas {
    color: rgba(255, 255, 255, 0.6);
    font-size: 3.2vw;
    transition: transform 0.12s, color 0.25s;
    backface-visibility: hidden;
  }

  &__icon-left {
    left: 0;
    transform-origin: right;
  }

  &__icon-right {
    right: 0;
    transform-origin: left;
  }

  &__focus-ring {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    border-radius: inherit;
  }

  &__progress-bar {
    position: absolute;
    display: flex;
    //background: linear-gradient(to bottom, rgba(35, 109, 189, 0.6), rgba(0, 50, 104, 0.6));
    left: 50%;
    bottom: 0;
    //padding: 4px 8px;
    padding: 0.12vw 0.4vw;
    border-radius: 10px 10px 0 0;
    transform: translateX(-50%);
    z-index: 100;
    transition: background-color 0.4s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__progress-marker {
    //background-color: orangered;
    width: 0.75vw;
    height: 0.75vw;
    max-width: 8px;
    max-height: 8px;
    min-width: 5px;
    min-height: 5px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
    //box-shadow: 0 0 5px 0px white;
    margin: 0.375vw;
    cursor: pointer;

    @include respond(phone) {
      margin: 5px;
    }

    &--active {
      background-color: white;
      box-shadow: 0 0 5px 0 white;
      pointer-events: none;
    }
  }

  &__slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgb(20, 20, 20);
    background-color: black;
    transition: transform 0.3s ease-in;
    //transition: transform 4s;

    &--jumper {
      //transition: transform 4s;
      transition: transform 0.075s;
    }
  }

  &__slide {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .backward-animation {
    transform: translateX(-1px);
  }

  & .forward-animation {
    transform: translateX(1px);
  }

  & .prev {
    transform: translate(-100%, 0);
  }

  & .queue {
    transform: translate(100%, 0);
  }

  & .hide {
    visibility: hidden;
    transition: none !important;
  }

  &__image-attribution {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 14px;
    //background-color: rgba(0, 0, 0, 0.25);
    color: rgb(210, 210, 210);
    font-size: 12px;
    font-family: sans-serif;
    border-radius: 0 0 10px 0;
    z-index: 100;
    transition: background-color 0.4s, color 0.4s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      color: rgb(225, 225, 225);
    }
  }
}


.slider {
  margin: 0 auto;
  max-width: 100%;
}

.slide_viewer {
  height: 380px;
  width: 380px;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(2) {
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-of-type(3) {
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.topright {
  position: absolute;
  top: 23px;
  right: 26px;
  font-size: 18px;
}

.directional_nav {
  height: 130px;
  margin: 0 auto;
  max-width: 990px;
  position: relative;
  padding-right: 12.2em;
  padding: 1em;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {


  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}


@media only screen and (min-width: 979px) {

  .topright {
display: none;
  }
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: 'Adamina', serif;
  width: 100%; /* Full width */
  padding: 18px; /* Some padding */
  line-height: 1.8em;
  font-size: 0.7em;
  background-color: #e1e1e1;
  border: 0.2px solid #e1e1e1; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0px; /* Add a top margin */
  margin-bottom: 0px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #777777;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 0.7EM;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #e1e1e1;
}

.container{
    padding: 0.2em;
    padding: 1px;
}
