body {
   height: 768px;
   width: 1024px;
   background-color: #d0ccc3;
   font-family: Barlow, sans-serif;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   background-color: black;
   box-shadow: 0 2px 8px grey;
}

nav > ul {
   text-align: center;
   margin-left: -100px;
   list-style-type: none;
}

nav > ul > li {
   width: 200px;
   display: inline-block;
}

nav > ul > li > a {
   display: block;
   width: 100%;
   padding: 20px 0;
   transition: 375ms;
}

nav > ul > li > a:link {
   color: white;
   font-size: 20px;
}

nav > ul > li > a:hover {
   background-color: yellow;
}

h1 {
   margin-top: -900px;
   font-size: 100px;
}
