nav {
   background-color: white;
   position: relative;
   margin-left: 455px;
   margin-top: 25px;
}

.logo {
   margin-top: 4px;
   margin-left: 22px;
   position: absolute;
}

main {
   margin-top: 90px;
   position: relative;
}

nav > ul > li {
   padding: 0 18px;
   text-align: center;
   display: inline-block;
   font-size: 21px;
}

nav > ul > li:last-of-type {
   border-left: 1px solid #707271;
}

h1 {
   font-size: 30px;
   font-weight: 700;
   text-align: center;
}

.big {
   margin: auto;
   width: 964px;
}

.small {
   margin: auto;
   display: flex;
   justify-content: space-evenly;
   padding-top: 15px;
}

video {
   border: 0;
   display: block;
   margin: auto;
   width: 964px;
   height: 542px;
}

video:last-of-type {
   border: 0;
   margin: auto;
   width: 308px;
   height: 652px;
}
