nav {
   background-color: white;
   position: relative;
   margin-left: 455px;
   margin-top: 50px;
}

.logo {
   margin-top: 3px;
   margin-left: 22px;
   position: absolute;
}

main {
   margin-top: 80px;
   position: relative;
}

nav > ul > li {
   padding: 0 18px;
   text-align: center;
   display: inline-block;
   font-size: 21px;
}

nav > ul > li:last-of-type {
   border-left: 1px solid #a6aaa8;
}

h1 {
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   margin: 13px;
}

/* Photography */

.hint-of-color {
   margin-top: 80px;
}

.barber-shop {
   margin-top: 80px;
}

.lauren {
   margin-top: 80px;
   margin-bottom: 85px;
}

.big-photo {
   margin: auto;
   width: 964px;
}

.small-photo {
   margin: auto;
   display: flex;
   width: 964px;
   justify-content: space-between;
   padding-top: 15px;
}

.small-photo > img {
   width: 308px;
   height: 205px;
}

.big-photo > img {
   width: 964px;
   height: 642px;
}

/* Animation */

.animation-video {
   display: block;
   margin: auto;
   width: 964px;
   margin-top: 80px;
}

.alien > video {
   border: 0;
   width: 964px;
   height: 542px;
}

.megaphone > video {
   border: 0;
   width: 964px;
   height: 542px;
}

.megaphone {
   margin-top: 80px;
   margin-bottom: 85px;
}

/* Design */

.design-video {
   border: 0;
   width: 308px;
   height: 652px;
}

/* About */

.about-image {
   position: relative;
   width: 308px;
   margin: auto;
   margin-top: 80px;
}

p:nth-of-type(1) {
   position: relative;
   font-size: 30px;
   font-weight: 700;
   text-align: center;
}

p:nth-of-type(2) {
   position: relative;
   font-size: 35px;
   letter-spacing: 5px;
   bottom: 27px;
   text-align: center;
}

p:nth-of-type(3) {
   position: absolute;
   font-size: 29px;
   top: 736px;
   left: 172px;
   letter-spacing: 1px;
}

.fab.fa-linkedin-in {
   position: absolute;
   top: 765px;
   left: 30px;
   font-size: 32px;
}

.far.fa-envelope {
   position: absolute;
   top: 765px;
   left: 92px;
   font-size: 32px;
}

p:nth-of-type(4) {
   position: absolute;
   font-size: 31px;
   text-decoration: underline;
   top: 728px;
   left: 830px;
}

p > a {
   color: black;
}

p > a:hover {
   color: #a6aaa8;
}
