nav {
   background-color: white;
   position: relative;
   margin-left: 455px;
   margin-top: 50px;
}

.logo {
   margin-top: 3px;
   margin-left: 22px;
   position: absolute;
}

main {
   margin-top: 80px;
   position: relative;
}

nav > ul > li {
   padding: 0 18px;
   text-align: center;
   display: inline-block;
   font-size: 21px;
}

nav > ul > li:last-of-type {
   border-left: 1px solid #a6aaa8;
}

h1 {
   font-size: 30px;
   font-weight: 700;
   text-align: center;
   margin: 13px;
}

.hint-of-color {
   margin-top: 80px;
}

.barber-shop {
   margin-top: 80px;
}

.lauren {
   margin-top: 80px;
   margin-bottom: 85px;
}

.big-photo {
   margin: auto;
   width: 964px;
}

.small-photo {
   margin: auto;
   display: flex;
   width: 964px;
   justify-content: space-between;
   padding-top: 15px;
}

.small-photo > img {
   width: 308px;
   height: 205px;
}

.big-photo > img {
   width: 964px;
   height: 642px;
}

/* Container for video elements */
.animation-video {
   display: block;
   margin: auto;
   width: 964px;
}

.animation-video > video {
   border: 0;
   width: 964px;
   height: 542px;
}

.design-video {
   border: 0;
   width: 308px;
   height: 652px;
}

.about-image {
   width: 308px;
   margin: auto;
}

p {
   position: relative;
}

p:nth-of-type(1) {
   font-size: 28px;
   font-weight: 700;
   text-align: center;
}

p:nth-of-type(2) {
   font-size: 33px;
   bottom: 10px;
   text-align: center;
}

p:nth-of-type(3) {
   font-size: 22px;
   top: 60px;
}
