/* ----------------content--------------------- */

#content {
   position: relative;
   left: 320px;
   top: 80px;
   z-index: -1;
}

.main-container {
   position: relative;
   display: flex;
   flex-direction: column;
   font-weight: 300;
   font-size: 1.5rem;
   width: 700px;
   text-align: center;
}

.main-container img {
   width: 700px;
}

.index-p {
   line-height: 2.5;
   margin-bottom: 60px;
}

/* --------------------------about----------------------------------------- */

.about-container {
   width: 700px;
}

.about-container > p {
   font-size: 1.5rem;
   font-weight: 400;
   padding: 20px 0;
}

.about-container a {
   padding-right: 15px;
}

/* -illust- */
#content .char-design-container,
#content .poster-design-container,
#content .pers-work-container {
   margin-bottom: 50px;
}

#content .char-design-container h1,
#content .poster-design-container h1,
#content .pers-work-container h1 {
   font-weight: 400;
   font-size: 2rem;
   line-height: 2.5;
}

#content .char-design-container p,
#content .poster-design-container p,
#content .pers-work-container p {
   font-size: 1.2rem;
   line-height: 2.5;
}

/* -----------------------film------------------------------------------ */

iframe {
   border: 0;
   display: block;
   width: 640px;
   height: 360px;
}

.film-container {
   position: relative;
   display: flex;
   flex-direction: column;
   font-size: 1.2rem;
   font-weight: 400;
   width: 640px;
   text-align: center;
}

.film-container p {
   margin: 10px 0 20px;
}
